.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation li {
  float: right;
}

.navigation li a {
  display: block;
  color: rgb(120, 120, 120);
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-top: 40px;
  text-decoration: none;
}

.navigation li a:hover:not(.active) {
  color: rgb(255, 0, 0);
  border-bottom: solid 2px rgb(255, 0, 0);
}

.active {
  background-color: #888888;
}

.footer {
  width: 100%;
  display: block;
}

.main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.0rem;
  margin-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
  padding-bottom: 3.0rem;
  background-color: white;
  border-radius: 16px;
}

.content {
  width: 100%;
  margin: auto;
  background-color: #dadada;
}

.header {
  height: 100px;
  width: 100%;
  border-bottom: solid 1px rgb(120, 120, 120);
  padding: 20px;
  background-color: white;
}

.badge {
  float: left;
  font-size: 2.0rem;
}

.navigation {
  padding-top: 2.5rem;
  padding-right: 6.0rem;
  float: right;
  font-size: 1.0rem;
}

h4 {
  margin-top: 2.0rem;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 1.5rem;
}

p {
  margin: 0px;
  padding: 0px;
}

input {
  font-size: 1.0rem;
  margin-bottom: 20px;
}

.form {
  width: 95%;
  border: #707070 solid 1px;
  padding: 2.5%;
}

textarea {
  width: 100%;
  font-size: 1.0rem;
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  font-size: .75rem; 
}

.grid-container1 > div {
  background-color: rgb(255, 255, 255);
  border-left: 1px solid black;
  padding-left: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding-top: 1rem;
  text-align: center;
  font-size: 1.0rem;
  text-decoration: none;
}

.grid-container  a {
  text-decoration: none;
}

.grid-container > div {
  background-color: rgb(255, 255, 255);
}